<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      egn ueg s segbjnvs sevnh sefbvhs segbs gsbe seb g e sehuserbvh
      uesbrvuhsefnvjseb
    </p>
  </header>
  <div class="card card--secondary">
    <header class="card__header">Card Header</header>
    <div class="card__body">
      aejgbkanva caanfj vasdn adfbajsnv ag aerg ag ga sd va sga efb adfb adf
      bdfb esfb asdv
    </div>
  </div>
</section>

<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      egn ueg s segbjnvs sevnh sefbvhs segbs gsbe seb g e sehuserbvh
      uesbrvuhsefnvjseb
    </p>
  </div>
</section>
