html {
  font-size: 62.5%;
}
body {
  width: 100vw;
}

section {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: #fff;
  background: url(images/background_w320.jpg) no-repeat;
  background-size: cover;
}
h1 {
  font-weight: 900;
  font-size: 5rem;
  text-shadow: 2px 2px 0 #000;
  word-spacing: 1.5rem;
}
section p {
  background: rgba(0, 0, 0, 0.6);
  font-weight: 300;

  letter-spacing: 1.5px;
  padding: 1.5rem;
  margin: 0 5rem;
  font-size: 2rem;
}

@media screen and (min-width: 853px) {
  body {
    background: url(images/background_w853.jpg);
    background-size: cover;
  }
  p {
    font-size: 3rem;
  }
  @media screen and (min-width: 1228px) {
    body {
      background: url(images/background_w1228.jpg);
      background-size: cover;
    }
    p {
      font-size: 5rem;
    }
  }
  @media screen and (min-width: 1440px) {
    body {
      background: url(images/background_w1440.jpg);
      background-size: cover;
    }
    p {
      font-size: 9rem;
    }
  }
}
