html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.container {
  margin: 0 0px;
  height: 60vh;
  background-color: #2a2138;
  width: 20%;
}
li,
a {
  list-style: none;
  line-height: 3rem;
  margin-bottom: -3.5rem;
  margin-top: 1.2rem;
  margin-left: 0;
  padding: 1rem;
  color: lightgray;
}

.active {
  background: #221a2e;
}

li:hover {
  background: #221a2e;
}
@media screen and (min-width: 320px) {
  .container {
    width: 100%;
  }
}
